
.tituloLote {
  margin-left: 20px;
  margin-right: 1rem; 
  font-size: 40px;
  width: 120vh;
}

.topoTitulo {
   display: flex;
    align-items: center; 
    gap: 0.7rem; 
}

.selectData {
  padding: 10px 15px; 
  border: #172556 solid 2px;
  color: #172556;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px; 
 
  margin: 0; 
}

.btnVoltar {
  width: fit-content;
  display: flex;
  cursor: pointer;
  transition: .2s;
}

.btnVoltar:hover {
  transform: scale(1.01);
}



.kpis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.kpi {
    position: relative;
    border-radius: 20px;
    width: 14.2vw;
    padding: 20px;
    background: white;
    box-shadow: 0 0 8px rgba(1,1,1,0.3);
}

.kpi-componentes {
    height: 170px !important;  
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.kpi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;    
    border-radius: 20px 20px 0 0;
}

.kpi.baixo::before { background: green; } 
.kpi.neutro::before { background: yellow; }  
.kpi.alerta::before { background: orange; } 
.kpi.critico::before { background: red; } 
.kpi.kpi-componentes::before {
    background: #003cff;
}

.tituloKPI {
  font-size: 15px;
  font-weight: bold;
}

.colour-ball {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 4.5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valor,
.nvlRisco {
  font-weight: bold;
}

.ladinho {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}


.card {
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: fit-content;
}



.chart-container-alert {
  width: 80vh;    
  height: 45vh;  
  padding: 2vh;
  background-color: #F7F8FC;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.58);
  border-radius: 10px;
  margin-top: 1vh;
}


.container-filho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.cabecalho {
  display: grid;
  grid-template-columns: 150px 200px 130px 150px 200px 100px;
  align-items: center;
}

.cards-lotes {
  display: grid;
  grid-template-columns: 150px 200px 150px 50px 320px 100px 100px;
  align-items: center;
}

.cards-modelos {
  display: grid;
  grid-template-columns: 150px 200px 170px 100px 200px 100px;
}



.bolinha {
  background-color: red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-top: 2.5px;
}

.chart {
  width: 100px;
  height: 100px;
}

.processos {
  font-size: 10px;
}



.carrossel {
  display: flex;
  gap: 0.5vh;
  align-items: center;
}

.carrossel-btn {
  font-size: 3vh;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


.titulo {
  border: 1.5px solid black;
  background-color: white;
  width: fit-content;
  font-size: 2vh;
  font-weight: 700;
  padding: 0.4vh;
  border-radius: 10px;
}

.date-input-container {
    padding: 0px; 
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.date-input {
    padding: 10px 15px; 
    font-size: 16px;
    border: 2px solid #ccc; 
    border-radius: 8px; 
    outline: none; 
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
    margin-top: 0px; 
}

.date-input:hover {
    border-color: #007bff;
}

.date-input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-weight: bold;
}

body{
  overflow-x: hidden;
}

.topoTitulo.right {
    justify-content: flex-end !important;
}